/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: var(--OffBlack)

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    /* ### Primary */

--Green: hsl(75, 94%, 57%);

/* ### Neutral */

--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 20%);
--DarkGrey: hsl(0, 0%, 12%);
--OffBlack: hsl(0, 0%, 8%);

}
.card {
    padding: 1.5rem;
    margin: 4rem auto 2rem auto;
    background-color: var(--DarkGrey);
    width: 18rem;
    height: 32rem;
    border-radius: 0.5rem;

}
img {
    margin: 0 auto 1.5rem auto;
    border-radius: 50%;
    width: 5.5rem;
    display: block;
}
.button-box .btn button{
    width: 100%; 
    padding: 0.8rem;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
    background-color: var(--Grey);
    color: var(--White);
    box-shadow: none;
    cursor: pointer;
    font-weight: 600;
}
.button-box .btn button:hover {
    background-color: var(--Green);
    color: var(--OffBlack);
}
.text {
    /* dsadsd */
    margin-bottom: 1.5rem;
    text-align: center;  
}
h1 {
color: var(--White);
margin-bottom: 0.8rem;
font-size: 1.5rem;
font-family: "Inter";
font-weight: 600;
}
h2 {
    font-size: 0.8rem;
    font-family: "Inter";
    margin-bottom: 1.4rem;
    color: var(--Green);
    font-weight: 400;

}
h3 {
color: rgb(222, 222, 222);
font-weight: 100;
}


.attribution { 
    font-size: 13px; 
    text-align: center; 
    color: rgb(222, 222, 222);
}
.attribution a { color: var(--Green); }